
  body{
    animation: change 10s infinite;
    text-align:center;
    width: 100%;
  }

  h1{
    height: 50px;
    font-family: 'Lato', sans-serif;
    width: 100%;
    z-index: 10;
    position: fixed;
    color: white;
    font-size: 60px;
  }
  h1 span{
    background: rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5);
  }

  @keyframes change {
    0% {background-color: yellow;}
    20% {background-color: red;}
    40% {background-color: black;}
    80% {background-color: green;}
    100% {background-color: blue;}

  }
